---
import Layout from '../../../layouts/MainLayout.astro';
import ProductLayout from '../../../layouts/ProductLayout.astro';
import TabbedContent from '../../../components/TabbedContent.astro';
import ImageCarousel from '../../../components/ImageCarousel';
import TabPanel from '../../../components/TabPanel.astro';
import OrderCTA from '../../../components/OrderCTA.astro';
import List from '../../../components/List.astro';
import { CONTACTS_BLOCK } from '../../../constants';

const slides = [
  {
    image: '/images/mobile_s90_1_large.webp',
  },
  {
    image: '/images/mobile_s90_4_large.webp',
  },
  {
    image: '/images/mobile_s90_3_large1.webp',
  },
  {
    image: '/images/mobile_s90_2_large1.webp',
  },
];

const sidebarItems = [
  {
    title: 'Стандартные полочные стеллажи S90',
    href: '/products/small_part_handling/small_parts_shelving_s90_standard/',
  },
  {
    title: 'Мобильные полочные стеллажи S90',
    href: '/products/small_part_handling/mobile_shelving_s90/',
  },
  {
    title: 'Многоэтажные полочные стеллажи S90',
    href: '/products/small_part_handling/mnogoetazhnie_polochnie_stellazhi_s90/',
  },
  {
    title: 'Узкопроходные полочные стеллажи S90',
    href: '/products/small_part_handling/uzkoprohodnie_polochnie_stellazhi_s90/',
  },
  {
    title: 'Коробочная гравитация стеллажи S90',
    href: '/products/small_part_handling/korobochnie_gravitacionnie_stellazhi_s90/',
  },
];

const breadcrumbItems = [
  { title: 'Главная', href: '/' },
  { title: 'Продукция', href: '/products/' },
  { title: 'Полочные стеллажи', href: '/products/small_part_handling/' },
  { title: 'Мобильные полочные стеллажи S90' },
];

const infoSidebarItems = [
  CONTACTS_BLOCK,
  {
    title: 'Буклеты',
    content: [
      {
        links: [
          {
            title: 'Стандартные полочные стеллажи S90',
            href: '/files/small_parts_shelving_s90_constructor_russia_small.pdf',
          },
        ],
      },
    ],
  },
  {
    title: 'Проекты',
    content: [
      {
        links: [
          {
            title: 'Беко Бил, Швеция',
            href: '/references/storage_of_small_parts/mobil_nie_polochnie_stellazhi/beko_bil_shvecija/',
          },
          {
            title: 'Электролюкс Дистрипартс АБ, Швеция',
            href: '/references/logisticheskie_operatori/elektroljuks_distriparts_ab_shvecija/',
          },
          {
            title: 'Клингер, Дания',
            href: '/references/storage_of_small_parts/mobil_nie_polochnie_stellazhi/klinger_danija/',
          },
          {
            title: 'Металлпресс Донати, Италия',
            href: '/references/storage_of_small_parts/mobil_nie_polochnie_stellazhi/metallpress_donati_italija/',
          },
          {
            title: 'Свенска Бил и Норден АБ, Швеция',
            href: '/references/storage_of_small_parts/mobil_nie_polochnie_stellazhi/svenska_bil_i_norden_ab_shvecija/',
          },
        ],
      },
    ],
  },
];
---
<Layout
  title="Мобильные металлические полочные стеллажи S90"
  description="Мобильные металлические полочные стеллажи S90 купить в Минске с гарантией и доставкой оптом по выгодным ценам  ⭐⭐⭐⭐⭐ Звоните 📞 +375 (29) 178-70-18"
  ogSiteName="Сайт компании ЗАО «КМ-про»"
  ogUrl="https://stellazhi.by/products/small_part_handling/mobile_shelving_s90/"
  ogTitle="Мобильные металлические полочные стеллажи S90"
  ogDescription="Мобильные металлические полочные стеллажи S90 купить в Минске с гарантией и доставкой оптом по выгодным ценам  ⭐⭐⭐⭐⭐ Звоните 📞 +375 (29) 178-70-18"
  ogImage="https://stellazhi.by/images/mobile_s90_1_large.webp"
  ogLocality="ru_BY"
  canonicalUrl="https://stellazhi.by/products/small_part_handling/mobile_shelving_s90/"
  customMetas={[
    {
      name: 'keywords',
      content: 'Мобильные металлические полочные стеллажи S90',
    },
  ]}
>

  <ProductLayout infoSideBarItems={infoSidebarItems} sidebarItems={sidebarItems} breadcrumbItems={breadcrumbItems}>
    <TabbedContent defaultActive={0} tabs={['Описание', 'Преимущества', 'Характеристики']}>
      <TabPanel index={0} defaultActive>
        <ImageCarousel slides={slides} client:load />

        <div class="prose max-w-none mt-8">
          <h1 class="text-3xl font-bold mb-6">Мобильные металлические полочные стеллажи S90</h1>

          <h2>Заказать стеллажи S90 от компании ЗАО «КМ-про»</h2>

          <p>
            Добро пожаловать на страницу мобильных металлических полочных стеллажей S90! Если вы ищете надежное и
            практичное решение для организации пространства на своем складе, в библиотеке или архиве, то мобильные
            стеллажи S90 - это то, что вам нужно!
          </p>

          <h3 class="text-2xl font-bold mt-8 mb-4">Необходимость мобильных металлических полочных стеллажей S90</h3>

          <p>
            Каждая компания, библиотека или архив сталкивается с проблемой ограниченного пространства для хранения своих
            документов, книг и других предметов. Мобильные металлические полочные стеллажи S90 могут решить эту проблему
            на 70 % эффективнее стандартных полочных стеллажей благодаря экономии площади без ущерба для хранения ваших
            ценных вещей и потери удобства в использовании.
          </p>

          <h3 class="text-2xl font-bold mt-8 mb-4">Купить мобильные металлические полочные стеллажи S90</h3>

          <div class="space-y-4">
            <p>
              Если вы хотите купить мобильные металлические полочные стеллажи S90, обращайтесь к компании ЗАО «КМ-про»!
              Наши стеллажи изготавливаются из высококачественных материалов и отвечают самым стандартам качества и
              безопасности. Мы предлагаем широкий выбор мобильных стеллажей для архивов, библиотек и складов, а также
              готовы предложить индивидуальное решение для вас, учитывая ваши особые потребности и требования.
            </p>

            <p>
              Купить мобильные металлические полочные стеллажи S90 у нас - это значит получить надежное, качественное и
              практичное решение для хранения ваших документов, книг, архивных записей и других предметов. Вы можете
              быть уверены, что наша продукция соответствует высоким стандартам качества, а наша команда профессионалов
              всегда готова помочь вам с выбором наиболее подходящего решения.
            </p>

            <p>
              Мобильные металлические полочные стеллажи S90 - это практичное и надежное решение для организации
              пространства на вашем складе, в библиотеке или архиве. Они помогут сэкономить место, увеличить
              эффективность вашей работы и обеспечить надежную защиту для ваших ценных вещей. Если вы хотите купить
              мобильные стеллажи S90, обращайтесь к компании ЗАО «КМ-про» и получите качественное и надежное решение для
              хранения ваших вещей!
            </p>
          </div>

          <OrderCTA />
        </div>
      </TabPanel>

      <TabPanel index={1}>
        <div class="prose max-w-none">
          <List>
            <li>
              <span>Практически удваивает площадь хранения</span>
            </li>
            <li>
              <span
                >Подстраивается под все возможные особенности помещения, такие как колонны и вентиляционные шахты,
                которые могут быть интегрированы в конструкцию стеллажа</span
              >
            </li>
            <li>
              <span>Свобода и простота перемещения независимо от загрузки стеллажа</span>
            </li>
            <li>
              <span>Безопасность эксплуатации благодаря многочисленным системам защиты</span>
            </li>
            <li>
              <span>Широкий ассортимент аксессуаров</span>
            </li>
            <li>
              <span>Выбор покрытия и исполнения</span>
            </li>
            <li>
              <span>Соответствует стандарту SFS 5187</span>
            </li>
            <li>
              <span>Производится в соответствие с ISO 9001</span>
            </li>
          </List>
        </div>
      </TabPanel>

      <TabPanel index={2}>
        <div class="prose max-w-none">
          <div class="bg-gray-50 p-6 rounded-lg">
            <div class="space-y-4">
              <div>
                <span class="font-bold block">Длина мобильной базы:</span>
                <span>до 8000 мм</span>
              </div>
              <div>
                <span class="font-bold block">Высота мобильной базы:</span>
                <span>139 мм</span>
              </div>
              <div>
                <span class="font-bold block">Высота стеллажа:</span>
                <span>до 3030 мм с шагом в 92 мм</span>
              </div>
              <div>
                <span class="font-bold block">Глубина полок:</span>
                <span>300, 400, 500, 600 мм</span>
              </div>
              <div>
                <span class="font-bold block">Максимальная нагрузка на мобильную базу:</span>
                <span>до 5000 кг</span>
              </div>
              <div>
                <span class="font-bold block">Максимальная нагрузка на секцию:</span>
                <span>до 800 кг (зависит от количества рельс и типа рам, может быть увеличен)</span>
              </div>
            </div>
          </div>
        </div>
      </TabPanel>
    </TabbedContent>
  </ProductLayout>
</Layout>
