---
import Layout from '../../../../layouts/MainLayout.astro';
import ProductLayout from '../../../../layouts/ProductLayout.astro';
import ImageCarousel from '../../../../components/ImageCarousel';
import OrderCTA from '../../../../components/OrderCTA.astro';
import { getImage } from 'astro:assets';
import carouselImage1 from '../../../../assets/images/metalpres_donati_1_large.png';

const slides = [
  {
    image: await getImage({ src: carouselImage1, format: 'webp' }),
  },
];

const sidebarItems = [
  {
    title: 'Беко Бил, Швеция',
    href: '/references/storage_of_small_parts/mobil_nie_polochnie_stellazhi/beko_bil_shvecija/',
  },
  {
    title: 'Клингер, Дания',
    href: '/references/storage_of_small_parts/mobil_nie_polochnie_stellazhi/klinger_danija/',
  },
  {
    title: 'Металлпресс Донати, Италия',
    href: '/references/storage_of_small_parts/mobil_nie_polochnie_stellazhi/metallpress_donati_italija/',
  },
  {
    title: 'Свенска Бил и Норден АБ, Швеция',
    href: '/references/storage_of_small_parts/mobil_nie_polochnie_stellazhi/svenska_bil_i_norden_ab_shvecija/',
  },
];

const breadcrumbItems = [
  { title: 'Главная', href: '/' },
  { title: 'Проекты', href: '/references/' },
  { title: 'Хранение на полках', href: '/references/storage_of_small_parts/' },
  {
    title: 'Мобильные полочные стеллажи',
    href: '/references/storage_of_small_parts/mobil_nie_polochnie_stellazhi/',
  },
  { title: 'Металлпресс Донати, Италия' },
];

const infoSidebarItems = [
  {
    title: 'Используемая продукция',
    content: [
      {
        links: [
          {
            title: 'Мобильные полочные стеллажи S90',
            href: '/products/small_part_handling/mobile_shelving_s90/',
          },
        ],
      },
    ],
  },
];
---

<Layout title="Металлпресс Донати, Италия | КМ-про">
  <ProductLayout infoSideBarItems={infoSidebarItems} sidebarItems={sidebarItems} breadcrumbItems={breadcrumbItems}>
    <ImageCarousel slides={slides} client:load />

    <div class="prose max-w-none mt-8">
      <h1 class="text-3xl font-bold mb-6">Металлпресс Донати, Италия</h1>

      <p class="font-bold mb-4">
        Компания Металлпресс Донати хранит формы для производства алюминиевых опор и роликовых систем, используемых в
        изготовлении кресел, на мобильных полочных стеллажах компании Constructor.
      </p>

      <h2 class="text-2xl font-bold mt-8 mb-4">Купить металлические стеллажи в Минске</h2>

      <p>
        Мы изготавливаем металлические стеллажи для склада по индивидуальному заказу. Выгодные цены, гарантия. По всем
        вопросам заказа стеллажей обращайтесь к нашим менеджерам по телефонам, размещенным на сайте.
      </p>

      <OrderCTA />
    </div>
  </ProductLayout>
</Layout>
