@import 'tailwindcss';

@plugin "@tailwindcss/typography";
@plugin "tailwind-scrollbar";

/* TODO This breaks horribly, investigate why later */
/*body {
     :before {
        content: url('/images/sklad_a.webp');
        position: fixed;
        inset: 0;
        z-index: -1;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        opacity: 0.1;
    }
}*/

body {
  background-image: url('/images/sklad_a.webp');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
}

body::before {
  content: '';
  position: fixed;
  inset: 0;
  background: #ffffffaa;
  z-index: -1;
  pointer-events: none;
}

.ttl3 {
    color: #000000;
    margin-top: 1.6em;
    margin-bottom: .6em;
    font-size: 1.25em;
    font-weight: 600;
    line-height: 1.6;
}
