---
import Layout from '../../../layouts/MainLayout.astro';
import ProductLayout from '../../../layouts/ProductLayout.astro';
import TabbedContent from '../../../components/TabbedContent.astro';
import ImageCarousel from '../../../components/ImageCarousel';
import TabPanel from '../../../components/TabPanel.astro';
import Link from '../../../components/Link.astro';
import OrderCTA from '../../../components/OrderCTA.astro';
import List from '../../../components/List.astro';
import { CONTACTS_BLOCK } from '../../../constants';

const slides = [
  {
    image: {
      src: 'https://stellazhi.by/uploads/content/gallery/size3/kasten_kuormalavahylly_hyllystoritila_large.png',
    },
  },
  {
    image: {
      src: 'https://stellazhi.by/uploads/content/gallery/size3/kasten_kuormalavahylly_kaarijakaja_large1.png',
    },
  },
  {
    image: {
      src: 'https://stellazhi.by/uploads/content/gallery/size3/kasten_kuormalavahylly_laari_large1.png',
    },
  },
  {
    image: {
      src: 'https://stellazhi.by/uploads/content/gallery/size3/kasten_kuormalavahylly_listahylly_large1.png',
    },
  },
  {
    image: {
      src: 'https://stellazhi.by/uploads/content/gallery/size3/kasten_kuormalavahylly_oviteline_large1.png',
    },
  },
  {
    image: {
      src: 'https://stellazhi.by/uploads/content/gallery/size3/kasten_kuormalavahylly_reikalevypaaty_large.png',
    },
  },
];

const sidebarItems = [
  {
    title: 'Стеллаж для шин и колес',
    href: '/products/special_nie_konstrukcii/stellazhi_dlja_hranenija_shin/',
  },
  {
    title: 'Стеллажи для магазинов',
    href: '/products/special_nie_konstrukcii/stellazhi_dlja_magazinov/',
  },
];

const breadcrumbItems = [
  { title: 'Главная', href: '/' },
  { title: 'Продукция', href: '/products/' },
  {
    title: 'Специальные конструкции',
    href: '/products/special_nie_konstrukcii/',
  },
  { title: 'Стеллажи для магазинов' },
];

const infoSidebarItems = [
  CONTACTS_BLOCK,
  {
    title: 'Проекты',
    content: [
      {
        links: [
          {
            title: 'Кодин Терра, Финляндия',
            href: '/references/mezoninnie_sistemi/kodin_terra_finljandija/',
          },
          {
            title: 'К-раута, Финляндия',
            href: '/references/mezoninnie_sistemi/k_rauta_finljandija/',
          },
        ],
      },
    ],
  },
];
---

<Layout title="Стеллажи для магазинов | КМ-про">
  <ProductLayout infoSideBarItems={infoSidebarItems} sidebarItems={sidebarItems} breadcrumbItems={breadcrumbItems}>
    <TabbedContent defaultActive={0} tabs={['Описание', 'Преимущества']}>
      <TabPanel index={0} defaultActive>
        <ImageCarousel slides={slides} client:load />

        <div class="prose max-w-none mt-8">
          <h1 class="text-3xl font-bold mb-6">Стеллажи для магазина</h1>

          <div>
            В современных условиях развития розничной торговли организациям важно максимально эффективно использовать
            пространство и обеспечить удобство для покупателей. В этом им помогают металлические стеллажи для магазинов
            формата DIY и CASH&CARRY от ЗАО "КМ-про". Наше оборудование сочетает в себе функциональность и надежность,
            позволяя эффективно организовать хранение и представление товаров, удовлетворяя потребности самых
            требовательных бизнесов.
          </div>

          <div class="mt-8">
            <h2 class="text-2xl font-bold mb-4">Стеллажи для магазинов формата DIY</h2>
            <div>
              DIY - это формат розничной торговли строительными материалами и товарами для дома, где покупатели сами
              выбирают товары и обеспечивают самообслуживание. Металлические стеллажи для магазина от ЗАО "КМ-про"
              идеально подходят для этого формата, предлагая ряд преимуществ:
            </div>
            <List>
              <li>
                <strong>Оптимизация пространства.</strong> Наши стеллажи помогут эффективно использовать доступное пространство
                в вашем магазине DIY. Мы предлагаем разнообразные варианты, включая стеллажи для напольных покрытий, плитки,
                электроинструментов, сантехники и многого другого.
              </li>
              <li>
                <strong>Удобство и функциональность</strong>. Торговые стеллажи для магазинов DIY разработаны с учетом
                потребностей покупателей. Они обеспечивают легкий доступ к товарам, удобную организацию и выкладку, а
                также эффективную демонстрацию товаров. Покупатели смогут без труда найти необходимые продукты и сделать
                выбор.
              </li>
              <li>
                <strong>Прочность и надежность</strong>. Наши металлические стеллажи изготовлены из высококачественных
                материалов, обладающих высокой надежностью и долговечностью. Они выдерживают значительные нагрузки и
                обеспечивают безопасное хранение товаров на протяжении длительного времени.
              </li>
            </List>
          </div>

          <div class="mt-8">
            <h2 class="text-2xl font-bold mb-4">Стеллажи для магазинов формата CASH&CARRY</h2>
            <p>
              CASH&CARRY представляет собой формат магазинов самообслуживания, где покупатели могут приобретать
              различные товары как в розницу, так и оптом. Наше оборудование для магазинов CASH&CARRY обладает
              следующими преимуществами:
            </p>
            <List>
              <li>
                <strong>Максимизация пространства</strong>. Наша стеллажная система CASH&CARRY позволяет оптимально
                использовать площадь вашего магазина, создавая максимальные возможности для хранения и демонстрации
                товаров. У вас будет больше места для разнообразных продуктов, включая продукты питания, алкогольные
                напитки, фрукты и овощи, хлебобулочные изделия, химические и косметические товары.
              </li>
              <li>
                <strong>Функциональность и гибкость</strong>. Наши стеллажи для продуктов CASH&CARRY адаптированы к
                потребностям вашего бизнеса. Они обеспечивают удобство доступа к товарам, позволяют оптимально
                организовать складское пространство и максимально эффективно презентовать товары. Вы сможете создать
                удобную торговую среду для покупателей и повысить эффективность работы вашего магазина.
              </li>
            </List>
          </div>

          <div class="mt-8">
            <h2 class="text-2xl font-bold mb-4">Почему стоит покупать стеллажи в ЗАО "КМ-про"</h2>
            <p>Выбор торговых металлических стеллажей от ЗАО "КМ-про" предлагает ряд преимуществ:</p>
            <List>
              <li>
                <strong>Качество и надежность</strong>. Мы предлагаем только высококачественные стеллажи, изготовленные
                из прочных материалов, что гарантирует их долговечность и надежность в использовании.
              </li>
              <li>
                <strong>Гибкость и индивидуальный подход</strong>. Мы готовы предложить различные варианты стеллажей,
                адаптированных к вашим конкретным потребностям. Наша команда поможет вам выбрать оптимальное решение и
                обеспечить его установку.
              </li>
              <li>
                <strong>Профессиональный сервис</strong>. Мы ценим каждого клиента и стремимся предоставить высокий
                уровень сервиса. Наша команда экспертов всегда готова помочь вам с выбором, консультацией и установкой
                стеллажей.
              </li>
              <li>
                <strong>Конкурентные цены.</strong> Мы предлагаем конкурентоспособные цены на наше оборудование, обеспечивая
                отличное соотношение цены и качества.
              </li>
            </List>
          </div>

          <p class="mt-6">
            Не откладывайте на потом улучшение организации вашего магазина. Покупайте металлические стеллажи для
            магазинов DIY и CASH&CARRY у ЗАО "КМ-про" уже сегодня!
          </p>

          <OrderCTA />
        </div>
      </TabPanel>

      <TabPanel index={1}>
        <div class="prose max-w-none">
          <h3 class="text-xl font-bold mb-4">Преимущества стеллажей:</h3>

          <List>
            <li>
              <span> Высокая грузоподъемность, что позволяет разместить на полках большое количество товара </span>
            </li>
            <li>
              <span> Легкость в установке и демонтаже, что облегчает обслуживание и перестановку магазина </span>
            </li>
            <li>
              <span> Простота в уходе и обслуживании, что позволяет экономить время и силы </span>
            </li>
            <li>
              <span>
                Возможность комбинировать различные модели, создавая уникальное и оптимальное решение для вашего
                магазина
              </span>
            </li>
          </List>

          <div class="mt-6 space-y-4">
            <p>
              Наша компания предлагает широкий выбор металлических стеллажей для магазинов формата DIY и CASH&CARRY. Мы
              гарантируем высокое качество продукции, а также предоставляем услуги по монтажу и установке стеллажей.
            </p>

            <p>
              Заказать металлические стеллажи для магазинов у нас - это просто и выгодно. Мы предоставляем гибкую
              систему скидок и индивидуальный подход к каждому клиенту.
            </p>

            <p>
              Не теряйте времени и денег на поиски качественных и удобных стеллажей для вашего магазина. Обратитесь к
              нам и получите надежное и эффективное решение для организации товарного пространства.
            </p>
          </div>
        </div>
      </TabPanel>
    </TabbedContent>
  </ProductLayout>
</Layout>
