---
import Layout from '../layouts/MainLayout.astro';
import Breadcrumbs from '../components/Breadcrumbs.astro';
import AboutCompanyLayout from '../layouts/AboutCompanyLayout.astro';
import Link from '@/components/Link.astro';

const breadcrumbItems = [
  { title: 'Главная', href: '/' },
  { title: '' },
];
---

<Layout title=""
  description=" ⭐⭐⭐⭐⭐ Звоните 📞 +375 (29) 178-70-18"
  ogSiteName="Сайт компании ЗАО «КМ-про»"
  ogUrl=""
  ogTitle=""
  ogDescription=" ⭐⭐⭐⭐⭐ Звоните 📞 +375 (29) 178-70-18"
  ogImage="https://stellazhi.by/images/stellazh-arhivnyj-metallicheskij-1.webp"
  ogLocality="ru_BY"
  canonicalUrl=""
  customMetas={[
    {
      name: 'keywords',
      content: 'Стеллаж архивный металлический в Минске недогоро',
    },
  ]}
>

  <Breadcrumbs items={breadcrumbItems} />

  <AboutCompanyLayout>
    <h1 class="text-2xl font-bold mb-6"></h1>
  

<p></p>

    </div>
  </AboutCompanyLayout>
</Layout> 
