---
import Layout from '../../layouts/MainLayout.astro';
import Breadcrumbs from '../../components/Breadcrumbs.astro';
import ServicesLayout from '../../layouts/ServicesLayout.astro';
import Link from '../../components/Link.astro';

const breadcrumbItems = [
  { title: 'Главная', href: '/' },
  { title: 'Наши услуги', href: '/our_services/' },
  { title: 'Наши услуги' },
];
---

<Layout title="Анализ существующей ситуации"
  description="Анализ существующей ситуации на объекте перед установкой складского оборудования ⭐⭐⭐⭐⭐ Звоните 📞 +375 (29) 178-70-18"
  ogSiteName="Сайт компании ЗАО «КМ-про»"
  ogUrl="https://stellazhi.by/our_services/analiz_suschestvujuschej_situacii"
  ogTitle="Анализ существующей ситуации"
  ogDescription="Анализ существующей ситуации складского оборудования ⭐⭐⭐⭐⭐ Звоните 📞 +375 (29) 178-70-18"
  ogImage="https://stellazhi.by/images/lo1.webp"
  ogLocality="ru_BY"
  canonicalUrl="https://stellazhi.by/our_services/analiz_suschestvujuschej_situacii"
  customMetas={[
    {
      name: 'keywords',
      content: 'Анализ существующей ситуации',
    },
  ]}
>
  <Breadcrumbs items={breadcrumbItems} />

  <ServicesLayout>
    <h1 class="text-2xl font-bold mb-6">Анализ существующей ситуации</h1>

    <h2 class="text-xl font-bold mt-8 mb-4">Анализ существующей ситуации складского оборудования</h2>

    <p>
      В дополнение к общим рекомендациям по организации хранения компания
      <strong>Constructor</strong> предлагает практическую помощь своим клиентам, выражающуюся в более детальном анализе
      потребностей в складировании и обработке грузов. Мы разработаем детальную спецификацию, предложим необходимое
      <Link href="/products/skladskie_sistemi_dinamicheskogo_hraneni/">складское оборудование</Link> и оптимальную его расстановку
      на основании предоставленного вами ассортимента хранимой продукции.
    </p>

    <p>
      Полученные на основании первичного анализа данные заносятся в программу C-WIS, позволяющую воспроизвести модель
      любого складского комплекса. На основании построенной модели можно получить следующую информацию:
    </p>

    <ul class="space-y-2 list-disc pl-5">
      <li>Спецификация и расстановка складского оборудования</li>
      <li>Расположение грузов</li>
      <li>Оптимальная технология обработки</li>
      <li>Объем необходимых инвестиций</li>
      <li>Стратегия окупаемости</li>
    </ul>

    <p>
      Программа C-WIS использует реальные данные и может стать одним из инструментов для определения оптимальных
      технологических процессов во время работы над проектом нового помещения или увеличения эффективности работы
      действующего склада.
    </p>
  </ServicesLayout>
</Layout>
