---
import Layout from '../../layouts/MainLayout.astro';
import Breadcrumbs from '../../components/Breadcrumbs.astro';
import ServicesLayout from '../../layouts/ServicesLayout.astro';
import Link from '../../components/Link.astro';

const breadcrumbItems = [
  { title: 'Главная', href: '/' },
  { title: 'Наши услуги', href: '/our_services/' },
  { title: 'Наши услуги' },
];
---

<Layout title="Услуги ЗАО «КМ-Про» | Всё для вашего склада!">
  <Breadcrumbs items={breadcrumbItems} />

  <ServicesLayout>
    <h1 class="text-2xl font-bold mb-6">Доставка и установка стеллажного оборудования</h1>

    <p>
      Доставка и установка <Link href="/products/">складского оборудования</Link> — это важный этап, который влияет на успешность
      работы любого склада. Мы гарантируем надежность и своевременность в каждом аспекте этого процесса, обеспечивая бесперебойную
      работу вашего бизнеса.
    </p>

    <ul class="space-y-4 list-disc pl-5">
      <li>
        <strong>Своевременная доставка</strong>. Мы гордимся тем, что более 95% наших доставок выполняются точно в
        согласованные сроки. Ваше оборудование будет доставлено в назначенное время, помогая вам сохранять сроки и
        бюджет вашего проекта.
      </li>

      <li>
        <strong>Качественное оборудование</strong>. Мы сотрудничаем только с проверенными поставщиками и
        производителями, что обеспечивает высочайшее качество нашего оборудования. Все наши продукты проходят строгий
        контроль качества и соответствуют международным стандартам.
      </li>

      <li>
        <strong>Профессиональная установка</strong>. Наши опытные специалисты имеют все необходимые знания и навыки для
        выполнения установки оборудования любой сложности. Они тщательно следят за каждым этапом установки, гарантируя
        высокую эффективность и долгосрочную надежность использования наших систем.
      </li>

      <li>
        <strong>Строгое соблюдение графика работ</strong>. Мы понимаем, как важна точность в бизнесе. Поэтому мы всегда
        строго придерживаемся утвержденного графика работ, обеспечивая бесперебойное выполнение проекта.
      </li>

      <li>
        <strong>Полная документация</strong>. С нами вы можете быть уверены в полной юридической чистоте. Мы
        предоставляем всю необходимую документацию для сопровождения оборудования, включая сертификаты качества,
        гарантийные обязательства и инструкции по эксплуатации.
      </li>
    </ul>

    <h2 class="text-xl font-bold mt-8 mb-4">Комплексный подход для стабильности и эффективности</h2>

    <p>
      Мы не просто доставляем и устанавливаем складское оборудование, мы предоставляем полный комплекс услуг, который
      помогает нашим клиентам быть уверенными в стабильности и эффективности своего бизнеса. Доверьте нам заботу о вашем
      складе, и мы превратим его в точно отлаженную машину, работающую для вашего успеха.
    </p>

    <div class="text-center mt-8 space-y-2">
      <h3 class="text-lg">Оформить заказ можно по телефону:</h3>
      <p class="text-lg">
        <Link href="tel:+375291787018"> +375 (29) 178-70-18 </Link>
      </p>
    </div>
  </ServicesLayout>
</Layout>
