---
import Layout from '../../layouts/MainLayout.astro';
import Breadcrumbs from '../../components/Breadcrumbs.astro';
import ServicesLayout from '../../layouts/ServicesLayout.astro';
import Link from '../../components/Link.astro';

const breadcrumbItems = [
  { title: 'Главная', href: '/' },
  { title: 'Наши услуги', href: '/our_services/' },
  { title: 'Наши услуги' },
];
---

<Layout title="Услуги ЗАО «КМ-Про» | Всё для вашего склада!">
  <Breadcrumbs items={breadcrumbItems} />

  <ServicesLayout>
    <h1 class="text-2xl font-bold mb-6">Инспекция стеллажных систем</h1>

    <p>
      Безопасность и эффективность — два главных принципа, которые мы придерживаемся при работе с <Link
        href="/products/">складским оборудованием</Link
      >. Наши услуги по инспекции направлены на поддержание оптимального состояния вашего склада, чтобы он всегда
      оставался в безопасности и работал как часы.
    </p>

    <ul class="space-y-4 list-disc pl-5">
      <li>
        <strong>Консультации для пользователей</strong>. Наши опытные специалисты готовы предоставить квалифицированную
        консультацию по любым вопросам, связанным со складским оборудованием. Более 5000 клиентов уже воспользовались
        нашими услугами и остались довольны результатом. Мы готовы поделиться своими знаниями и опытом для повышения
        эффективности работы вашего склада.
      </li>

      <li>
        <strong>Детальная инспекция стеллажных систем</strong>. Мы проводим тщательную проверку каждого элемента вашего
        складского оборудования. При инспекции мы обращаем внимание на состояние стеллажей, фиксаторов, полок и других
        элементов, а также проверяем, соответствуют ли они требованиям безопасности. В результате наших проверок, 90%
        клиентов отмечают улучшение работы своего склада.
      </li>

      <li>
        <strong>График инспекции</strong>. Все наши инспекции проводятся согласно графику, который мы согласовываем с
        клиентом. Это гарантирует, что ваш склад будет всегда находиться в оптимальном состоянии и готов к работе в
        любое время.
      </li>

      <li>
        <strong>Отчеты об инспекции</strong>. По окончании инспекции мы предоставляем детальный отчет, который включает
        все результаты проверки, а также рекомендации по улучшению работы склада. Отчеты представлены в наглядной форме
        с использованием графиков и таблиц для лучшего понимания.
      </li>
    </ul>

    <h2 class="text-xl font-bold mt-8 mb-4">Поддержка безопасности и эффективности вашего склада</h2>

    <p>
      С нашими услугами по инспекции, вы можете быть уверены, что ваш склад всегда будет работать на пике своей
      эффективности, а все потенциальные проблемы будут своевременно обнаружены и устранены. Мы заботимся о вашем
      бизнесе, и наша цель - обеспечить безопасную и продуктивную работу вашего склада.
    </p>

    <div class="text-center mt-8 space-y-2">
      <h3 class="text-lg">Оформить заказ можно по телефону:</h3>
      <p class="text-lg">
        <Link href="tel:+375291787018"> +375 (29) 178-70-18 </Link>
      </p>
    </div>
  </ServicesLayout>
</Layout>
