---
import Layout from '../../layouts/MainLayout.astro';
import Breadcrumbs from '../../components/Breadcrumbs.astro';
import ServicesLayout from '../../layouts/ServicesLayout.astro';
import Link from '../../components/Link.astro';

const breadcrumbItems = [
  { title: 'Главная', href: '/' },
  { title: 'Наши услуги', href: '/our_services/' },
  { title: 'Наши услуги' },
];
---

<Layout title="Услуги ЗАО «КМ-Про» | Всё для вашего склада!">
  <Breadcrumbs items={breadcrumbItems} />

  <ServicesLayout>
    <h1 class="text-2xl font-bold mb-6">Наши услуги</h1>

    <p>
      Когда вы выбираете нас, вы выбираете не просто поставщика, но и опытного партнера, готового предоставить полный
      спектр услуг, связанных со складским оборудованием. Мы ориентированы на ваш успех, и наша миссия — предложить
      уникальные решения, которые помогут улучшить ваш бизнес.
    </p>

    <ul class="space-y-4 list-disc pl-5">
      <li>
        <strong>Консалтинг</strong>. Мы проводим детальный
        <Link href="/our_services/analiz_suschestvujuschej_situacii/">анализ</Link> существующей ситуации на вашем складе,
        используя передовые инструменты и технологии. Наш опыт в отрасли позволяет нам дать вам реальное представление о
        вашем складе и предложить наиболее эффективные решения.
      </li>

      <li>
        <strong>Решение</strong>. На основе анализа, мы
        <Link href="/our_services/produkt_sistema/">разрабатываем продукт или систему</Link>, которая полностью
        соответствует вашим потребностям. Мы проводим всесторонние расчеты, чтобы обеспечить оптимальное использование
        вашего складского пространства.
      </li>

      <li>
        <strong>Поставка</strong>. Мы гарантируем быструю и надежную доставку, а также
        <Link href="/our_services/dostavka_i_ustanovka/">профессиональную установку</Link>
        вашего оборудования. Мы работаем с квалифицированными специалистами, обладающими многолетним опытом в данной области.
      </li>

      <li>
        <strong>
          <Link href="/our_services/soprovozhdenie_proekta/">Сопровождение проекта</Link>
        </strong>. Мы не оставляем вас после окончания установки. Мы продолжаем поддерживать вас на протяжении всего
        срока службы оборудования, реагируя на любые возникающие проблемы.
      </li>

      <li>
        <strong>Пост-продажный сервис</strong>. После завершения проекта мы продолжаем оставаться на связи, предлагая
        <Link href="/our_services/inspekcija/">инспекцию</Link>,
        <Link href="/our_services/remont_obsluzhivanie/">ремонт и обслуживание оборудования</Link>
        по мере необходимости.
      </li>
    </ul>

    <h2 class="text-xl font-bold mt-8 mb-4">Ваш склад — источник конкурентного преимущества</h2>

    <p>
      В нашей компании мы гордимся нашими услугами и вниманием к деталям. Наш опыт и навыки позволяют нам предлагать
      высококачественные продукты и услуги, которые помогут вам оптимизировать ваши бизнес-процессы. С нами ваш склад
      станет источником конкурентного преимущества, а не просто хранилищем товаров.
    </p>

    <div class="text-center mt-8 space-y-2">
      <h3 class="text-lg">Оформить заказ можно по телефону:</h3>
      <p class="text-lg">
        <Link href="tel:+375291787018"> +375 (29) 178-70-18 </Link>
      </p>
    </div>
  </ServicesLayout>
</Layout>
