---
import Layout from '../../layouts/MainLayout.astro';
import Breadcrumbs from '../../components/Breadcrumbs.astro';
import ServicesLayout from '../../layouts/ServicesLayout.astro';
import Link from '../../components/Link.astro';

const breadcrumbItems = [
  { title: 'Главная', href: '/' },
  { title: 'Наши услуги', href: '/our_services/' },
  { title: 'Наши услуги' },
];
---

<Layout title="Услуги ЗАО «КМ-Про» | Всё для вашего склада!">
  <Breadcrumbs items={breadcrumbItems} />

  <ServicesLayout>
    <h1 class="text-2xl font-bold mb-6">Предложение</h1>

    <p>
      Каждый проект в нашей компании рассматривается как уникальная возможность предложить клиентам нестандартные,
      креативные и экономически обоснованные решения, способные оптимизировать их бизнес-процессы. ЗАО "КМ-про" — это не
      просто поставщик <Link href="/products/">складского оборудования</Link>, это команда профессионалов, готовых
      поделиться своими знаниями и опытом.
    </p>

    <ul class="space-y-4 list-disc pl-5">
      <li>
        <strong>Планирование склада</strong>. Мы осуществляем детальную разработку плана размещения оборудования,
        учитывая все особенности вашего бизнеса, специфику товарооборота и текущие требования к эффективности и
        безопасности складских операций. Мы гарантируем максимальное использование складского пространства без потери
        оперативности и комфорта работы персонала.
      </li>

      <li>
        <strong>Подбор складского оборудования</strong>. Наш ассортимент включает более 50 видов стеллажного
        оборудования от ведущих мировых производителей. Основываясь на вашем запросе, мы подберем и предложим
        оптимальное оборудование, которое будет отвечать всем вашим требованиям по функциональности, надежности и
        стоимости.
      </li>

      <li>
        <strong>Технологические процессы</strong>. Наши специалисты помогут внедрить современные технологии управления
        складом и складскими процессами, что позволит ускорить выполнение складских операций, уменьшить количество
        ошибок и повысить общую эффективность работы склада.
      </li>

      <li>
        <strong>Постпродажное обслуживание</strong>. Мы предоставляем полный пакет услуг по обслуживанию и ремонту
        поставляемого оборудования, включая периодические технические осмотры и проведение ремонтных работ.
      </li>
    </ul>

    <h2 class="text-xl font-bold mt-8 mb-4">Профессиональные знания и опыт для вашего успеха</h2>

    <p>
      Создание эффективного и надежного склада – это сложный процесс, требующий профессиональных знаний и опыта. Мы
      готовы поделиться своими знаниями и опытом для создания оптимального складского решения, которое будет отвечать
      всем вашим потребностям и позволит вам сосредоточиться на основной деятельности вашего бизнеса.
    </p>

    <div class="text-center mt-8 space-y-2">
      <h3 class="text-lg">Оформить заказ можно по телефону:</h3>
      <p class="text-lg">
        <Link href="tel:+375291787018"> +375 (29) 178-70-18 </Link>
      </p>
    </div>
  </ServicesLayout>
</Layout>
