---
import Layout from '../../layouts/MainLayout.astro';
import Breadcrumbs from '../../components/Breadcrumbs.astro';
import ServicesLayout from '../../layouts/ServicesLayout.astro';
import Link from '../../components/Link.astro';

const breadcrumbItems = [
  { title: 'Главная', href: '/' },
  { title: 'Наши услуги', href: '/our_services/' },
  { title: 'Наши услуги' },
];
---

<Layout title="Услуги ЗАО «КМ-Про» | Всё для вашего склада!">
  <Breadcrumbs items={breadcrumbItems} />

  <ServicesLayout>
    <h1 class="text-2xl font-bold mb-6">Логистические продукты и системы</h1>

    <p>
      <Link href="/products/">Складское хозяйство</Link> и логистика никогда не стоят на месте. Они непрерывно развиваются,
      становясь все более сложными и многообразными. И в этом мире постоянных изменений, вы должны быть уверены, что ваш
      бизнес способен быстро адаптироваться и оставаться впереди. Именно поэтому важность качественных логистических продуктов
      и систем не может быть переоценена.
    </p>

    <h2 class="text-xl font-bold mt-8 mb-4">Инновационные решения</h2>

    <p>
      Наши решения — это не просто оборудование, это инновации, обеспечивающие гибкость, масштабируемость и
      эффективность. Мы применяем передовые технологии и обширные знания в области логистики, чтобы помочь вам
      оптимизировать процессы, минимизировать затраты и повысить производительность.
    </p>

    <h2 class="text-xl font-bold mt-8 mb-4">Универсальность и индивидуальный подход</h2>

    <p>
      Наши продукты и системы подойдут для любого вида бизнеса, будь то малый, средний или крупный бизнес. Мы
      разрабатываем индивидуальные решения, исходя из ваших потребностей и желаний. Благодаря этому, вы сможете
      полностью контролировать и управлять своими логистическими процессами, не тратя лишних ресурсов.
    </p>

    <h2 class="text-xl font-bold mt-8 mb-4">Надежное партнерство и высокий уровень обслуживания</h2>

    <p>
      Мы осознаем, что для каждой компании важно иметь надежного партнера в лице поставщика логистических систем и
      продуктов. Именно поэтому мы делаем все возможное, чтобы обеспечить вам высочайший уровень обслуживания. Вместе мы
      сможем сделать ваш бизнес еще более успешным и конкурентоспособным.
    </p>

    <p>
      С нами вы находитесь на шаг впереди в логистике. Присоединяйтесь к нам и откройте новые горизонты для вашего
      бизнеса!
    </p>

    <div class="text-center mt-8 space-y-2">
      <h3 class="text-lg">Оформить заказ можно по телефону:</h3>
      <p class="text-lg">
        <Link href="tel:+375291787018"> +375 (29) 178-70-18 </Link>
      </p>
    </div>
  </ServicesLayout>
</Layout>
