---
import Layout from '../../layouts/MainLayout.astro';
import Breadcrumbs from '../../components/Breadcrumbs.astro';
import ServicesLayout from '../../layouts/ServicesLayout.astro';
import Link from '../../components/Link.astro';

const breadcrumbItems = [
  { title: 'Главная', href: '/' },
  { title: 'Наши услуги', href: '/our_services/' },
  { title: 'Наши услуги' },
];
---

<Layout title="Услуги ЗАО «КМ-Про» | Всё для вашего склада!">
  <Breadcrumbs items={breadcrumbItems} />

  <ServicesLayout>
    <h1 class="text-2xl font-bold mb-6">Расчеты стоимости и поставки складского оборудования</h1>

    <p>
      Обеспечение эффективной и продуктивной работы склада - задача, требующая особого подхода. В нашей компании мы
      ценим время и ресурсы наших клиентов, поэтому предлагаем комплексные услуги по расчету стоимости, расстановке и
      поставке <Link href="/products/">складского оборудования</Link>.
    </p>

    <ul class="space-y-4 list-disc pl-5">
      <li>
        <strong>Детальные расчеты стоимости</strong>. Избегайте неожиданных расходов с помощью наших тщательных
        расчетов. Мы анализируем каждый аспект вашего проекта, чтобы предоставить вам наиболее точную оценку затрат. Мы
        прозрачно подходим к формированию цены, учитывая все возможные факторы - от себестоимости оборудования до
        расходов на его установку и обслуживание.
      </li>

      <li>
        <strong>Оптимальное проектирование расстановки</strong>. Мы понимаем, что каждый склад уникален и требует
        индивидуального подхода. Используя передовые технологии и алгоритмы, мы разрабатываем проект расстановки,
        который максимизирует использование пространства и улучшает рабочие процессы. В 87% случаев, наши клиенты
        отмечают увеличение эффективности работы на 30-50% после внедрения наших решений.
      </li>

      <li>
        <strong>Точный график поставки</strong>. Мы стремимся к тому, чтобы наши клиенты всегда были в курсе
        происходящего. Вам будет предоставлен четко сформированный график поставки оборудования, с учетом всех нюансов и
        временных рамок вашего проекта. Более 95% наших поставок осуществляются точно в срок, что позволяет нашим
        клиентам планировать и координировать свои действия.
      </li>

      <li>
        <strong>Информативные отчеты и визуализации</strong>. Для большей наглядности и понимания, мы предоставляем
        детальные отчеты, таблицы и графики. Они демонстрируют эффективность предложенных решений и помогают отслеживать
        прогресс на каждом этапе проекта.
      </li>
    </ul>

    <p>
      Работая с нами, вы получаете профессиональное и детальное планирование, которое позволяет вам оставаться
      уверенными в успешном внедрении вашего проекта складской логистики. Наша цель - сделать процесс максимально
      прозрачным и удобным для вас, предоставляя всю необходимую информацию и поддержку на каждом этапе.
    </p>

    <h2 class="text-xl font-bold mt-8 mb-4">Купить металлические стеллажи в Минске</h2>

    <p>
      Мы изготавливаем металлические стеллажи для склада по индивидуальному заказу. Выгодные цены, гарантия. По всем
      вопросам заказа стеллажей обращайтесь к нашим менеджерам по телефонам, размещенным на сайте.
    </p>

    <div class="text-center mt-8 space-y-2">
      <h3 class="text-lg">Оформить заказ можно по телефону:</h3>
      <p class="text-lg">
        <Link href="tel:+375291787018"> +375 (29) 178-70-18 </Link>
      </p>
    </div>
  </ServicesLayout>
</Layout>
