---
import Layout from '../../layouts/MainLayout.astro';
import Breadcrumbs from '../../components/Breadcrumbs.astro';
import ServicesLayout from '../../layouts/ServicesLayout.astro';
import Link from '../../components/Link.astro';

const breadcrumbItems = [
  { title: 'Главная', href: '/' },
  { title: 'Наши услуги', href: '/our_services/' },
  { title: 'Наши услуги' },
];
---

<Layout title="Услуги ЗАО «КМ-Про» | Всё для вашего склада!">
  <Breadcrumbs items={breadcrumbItems} />

  <ServicesLayout>
    <h1 class="text-2xl font-bold mb-6">Ремонт/обслуживание стеллажных систем</h1>

    <p>
      Современные <Link href="/products/">стеллажные системы</Link> — это сложные технические объекты, требующие профессионального
      подхода и точного знания в области обслуживания. Стратегия нашей компании заключается не только в поставке высококачественного
      оборудования, но и в обеспечении его безупречной работы на протяжении всего жизненного цикла.
    </p>

    <ul class="space-y-4 list-disc pl-5">
      <li>
        <strong>Ремонт и обслуживание оборудования</strong>. Мы предлагаем комплекс услуг по обслуживанию и ремонту
        стеллажного оборудования. Наши специалисты прошли профессиональное обучение и имеют необходимые сертификаты. Они
        осуществляют как плановый ремонт и техническое обслуживание, так и экстренное вмешательство в случае
        возникновения непредвиденных ситуаций.
      </li>

      <li>
        <strong>Адаптация систем под изменения технологий</strong>. Мы понимаем, что бизнес наших клиентов постоянно
        развивается и может потребовать изменения конфигурации стеллажей. Мы готовы оперативно производить переустановку
        или модернизацию систем, чтобы они всегда соответствовали вашим текущим потребностям.
      </li>

      <li>
        <strong>Обучение персонала</strong>. Важным элементом эффективного использования стеллажных систем является
        квалификация персонала. Наша компания предлагает обучающие программы для вашего персонала, которые помогут
        максимально эффективно использовать стеллажное оборудование и обеспечить его долгий срок службы.
      </li>
    </ul>

    <h2 class="text-xl font-bold mt-8 mb-4">Заказать ремонт стеллажных систем в Минске</h2>

    <p>
      Своевременное обслуживание и ремонт стеллажного оборудования - это залог его долгой и безаварийной работы. Мы
      ставим перед собой задачу не просто продавать оборудование, но и обеспечивать его надежность и безопасность на
      всем протяжении эксплуатационного периода. Благодаря нашим услугам по обслуживанию и ремонту, вы всегда можете
      быть уверены в надежности и безопасности вашего складского оборудования.
    </p>

    <div class="text-center mt-8 space-y-2">
      <h3 class="text-lg">Оформить заказ можно по телефону:</h3>
      <p class="text-lg">
        <Link href="tel:+375291787018"> +375 (29) 178-70-18 </Link>
      </p>
    </div>
  </ServicesLayout>
</Layout>
