---
import Layout from '../../layouts/MainLayout.astro';
import Breadcrumbs from '../../components/Breadcrumbs.astro';
import ServicesLayout from '../../layouts/ServicesLayout.astro';
import Link from '../../components/Link.astro';

const breadcrumbItems = [
  { title: 'Главная', href: '/' },
  { title: 'Наши услуги', href: '/our_services/' },
  { title: 'Наши услуги' },
];
---

<Layout title="Услуги ЗАО «КМ-Про» | Всё для вашего склада!">
  <Breadcrumbs items={breadcrumbItems} />

  <ServicesLayout>
    <h1 class="text-2xl font-bold mb-6">Сопровождение проекта</h1>

    <p>
      Сопровождение проекта — это неотъемлемая часть нашего процесса работы. Мы берем на себя ответственность за каждый
      этап проекта, обеспечивая его эффективное и успешное выполнение.
    </p>

    <ul class="space-y-4 list-disc pl-5">
      <li>
        <strong>Соблюдение соглашений</strong>. Мы строго придерживаемся всех подписанных соглашений, инструкций и
        требований законодательства. 3Благодаря этому 98 % наших проектов выполняются в срок и без нарушений.
      </li>

      <li>
        <strong>Сотрудничество с подрядчиками</strong>. Мы работаем в тесном сотрудничестве с другими подрядчиками, что
        позволяет нам обеспечивать непрерывность процесса работы и достигать общей цели. Мы гордимся нашими
        партнерствами и взаимодействием с более чем 150 подрядчиками в различных сферах.
      </li>

      <li>
        <strong>Гибкость</strong>. Мы понимаем, что изменения — это норма в проектной деятельности. Мы гибко реагируем
        на любые корректировки, быстро адаптируясь к изменяющимся условиям и сохраняя высокий уровень качества работы.
      </li>

      <li>
        <strong>Проактивное сопровождение</strong>. В дополнение к нашим обязательствам, мы также предлагаем проактивное
        сопровождение проекта. Это означает, что мы активно участвуем во всех этапах проекта, анализируя потенциальные
        проблемы и предлагая решения еще до того, как они становятся актуальными.
      </li>

      <li>
        <strong>Отчетность</strong>. На протяжении всего проекта мы предоставляем регулярные отчеты о его ходе. Эти
        отчеты включают в себя детальную информацию о выполненных работах, затраченном времени и материалах, а также
        любых изменениях в проекте.
      </li>
    </ul>

    <h2 class="text-xl font-bold mt-8 mb-4">Партнерство для достижения успеха</h2>

    <p>
      Наша компания — это не просто подрядчик, это ваш партнер в реализации проектов любой сложности. Мы уделяем
      внимание каждой детали, чтобы обеспечить безупречное качество работы и удовлетворенность клиента. Мы здесь, чтобы
      помочь вам достичь успеха в ваших проектах.
    </p>

    <div class="text-center mt-8 space-y-2">
      <h3 class="text-lg">Оформить заказ можно по телефону:</h3>
      <p class="text-lg">
        <Link href="tel:+375291787018"> +375 (29) 178-70-18 </Link>
      </p>
    </div>
  </ServicesLayout>
</Layout>
