---
import Layout from '../../../../layouts/MainLayout.astro';
import ProductLayout from '../../../../layouts/ProductLayout.astro';
import ImageCarousel from '../../../../components/ImageCarousel';
import OrderCTA from '../../../../components/OrderCTA.astro';

const slides = [
  {
    image: '/images/toyota_parts_center_1_large.webp',
  },
  {
    image: '/images/toyota_parts_center_2_large.webp',
  },
  {
    image: '/images/toyota_parts_center_3_large.webp',
  },
  {
    image: '/images/toyota_parts_center_4_large.webp',
  },
  {
    image: '/images/toyota_parts_center_5_large.webp',
  },
];

const sidebarItems = [
  {
    title: 'Смит и Нефью, Швейцария',
    href: '/references/storage_of_small_parts/mnogoetazhnie_polochnie_stellazhi/smit_i_nef_ju_shvejcarija/',
  },
  {
    title: 'Тойота Партс Центр, Бельгия',
    href: '/references/storage_of_small_parts/mnogoetazhnie_polochnie_stellazhi/tojota_parts_centr_bel_gija/',
  },
];

const breadcrumbItems = [
  { title: 'Главная', href: '/' },
  { title: 'Проекты', href: '/references/' },
  { title: 'Хранение на полках', href: '/references/storage_of_small_parts/' },
  {
    title: 'Многоэтажные полочные стеллажи',
    href: '/references/storage_of_small_parts/mnogoetazhnie_polochnie_stellazhi/',
  },
  { title: 'Тойота Партс Центр, Бельгия' },
];

const infoSidebarItems = [
  {
    title: 'Используемая продукция',
    content: [
      {
        links: [
          {
            title: 'Многоэтажные полочные стеллажи S90',
            href: '/products/small_part_handling/mnogoetazhnie_polochnie_stellazhi_s90/',
          },
          {
            title: 'Стандартные полочные стеллажи S90',
            href: '/products/small_part_handling/small_parts_shelving_s90_standard/',
          },
          {
            title: 'Мезонинные системы',
            href: '/products/stellazhnij_mezonin/',
          },
        ],
      },
    ],
  },
];
---

<Layout title="Тойота Партс Центр, Бельгия | КМ-про">
  <ProductLayout infoSideBarItems={infoSidebarItems} sidebarItems={sidebarItems} breadcrumbItems={breadcrumbItems}>
    <ImageCarousel slides={slides} client:load />

    <div class="prose max-w-none mt-8">
      <h1 class="text-3xl font-bold mb-6">Тойота Партс Центр, Бельгия</h1>

      <p class="font-bold mb-4">
        Многоэтажная полочная система Constructor разработана и установлена для организации хранения запасных частей и
        аксессуаров компании Тойота.
      </p>

      <p>Многоярусная конструкция интегрирована с мезонинными системами и обладает возможностью увеличения высоты.</p>

      <h2 class="text-2xl font-bold mt-8 mb-4">Купить металлические стеллажи в Минске</h2>

      <p>
        Мы изготавливаем металлические стеллажи для склада по индивидуальному заказу. Выгодные цены, гарантия. По всем
        вопросам заказа стеллажей обращайтесь к нашим менеджерам по телефонам, размещенным на сайте.
      </p>

      <OrderCTA />
    </div>
  </ProductLayout>
</Layout>
