---
import Layout from '../../../../layouts/MainLayout.astro';
import ProductLayout from '../../../../layouts/ProductLayout.astro';
import ImageCarousel from '../../../../components/ImageCarousel';
import OrderCTA from '../../../../components/OrderCTA.astro';
import { getImage } from 'astro:assets';
import carouselImage1 from '../../../../assets/images/valsemollen_2_large.png';
import carouselImage2 from '../../../../assets/images/valsemollen_3_large.png';
import carouselImage3 from '../../../../assets/images/valsemollen_4_large.png';
import carouselImage4 from '../../../../assets/images/valsemollen_5_large.png';

const slides = [
  {
    image: await getImage({ src: carouselImage1, format: 'webp' }),
  },
  {
    image: await getImage({ src: carouselImage2, format: 'webp' }),
  },
  {
    image: await getImage({ src: carouselImage3, format: 'webp' }),
  },
  {
    image: await getImage({ src: carouselImage4, format: 'webp' }),
  },
];

const sidebarItems = [
  {
    title: 'Нансо Груп, Финляндия',
    href: '/references/storing_of_pallets/pallet_flow/nanso_grup_finljandija/',
  },
  {
    title: 'Хутамаки Ой, Финляндия',
    href: '/references/storing_of_pallets/pallet_flow/hutamaki_oj_finljandija/',
  },
  {
    title: 'Ханса Принт, Финляндия',
    href: '/references/storing_of_pallets/pallet_flow/hansa_print_finljandija/',
  },
  {
    title: 'Вальсемоллен, Дания',
    href: '/references/storing_of_pallets/pallet_flow/val_semollen_danija/',
  },
];

const breadcrumbItems = [
  { title: 'Главная', href: '/' },
  { title: 'Проекты', href: '/references/' },
  { title: 'Паллетное хранение', href: '/references/storing_of_pallets/' },
  {
    title: 'Гравитационные стеллажи',
    href: '/references/storing_of_pallets/pallet_flow/',
  },
  { title: 'Вальсемоллен, Дания' },
];

const infoSidebarItems = [
  {
    title: 'Используемая продукция',
    content: [
      {
        links: [
          {
            title: 'Гравитационные паллетные стеллажи P90',
            href: '/products/pallet_handling/gravitacionnie_stellazhi/',
          },
          {
            title: 'Фронтальные паллетные стеллажи P90',
            href: '/products/pallet_handling/frontal_nie_palletnie_stellazhi_p90/',
          },
        ],
      },
    ],
  },
];
---

<Layout title="Вальсемоллен, Дания | КМ-про">
  <ProductLayout infoSideBarItems={infoSidebarItems} sidebarItems={sidebarItems} breadcrumbItems={breadcrumbItems}>
    <ImageCarousel slides={slides} client:load />

    <div class="prose max-w-none mt-8">
      <h1 class="text-3xl font-bold mb-6">Вальсемоллен, Дания</h1>

      <p class="font-bold mb-4">Компания Вальсемолен – традиционная мельница, производящая хлебную муку.</p>

      <p>
        Для оборудования нового склада компании выбраны гравитационные паллетные стеллажи
        <strong>Constructor</strong> P90 с глубиной каналов шесть и десять поддонов. Особенностью оборудования стали съемные
        нижние роликовые дорожки для удобства уборки помещения для соблюдения гигиенических норм, предъявляемых стандартом
        BRC.
      </p>

      <p>
        <strong>Емкость склада:</strong><br />
        Гравитационные паллетные стеллажи (FIFO)
      </p>
      <ul class="list-disc pl-6">
        <li>Количество уровней: 3 шт.</li>
        <li>Глубина канала: 6/10 поддонов</li>
        <li>Количество: 576 п.м.</li>
      </ul>

      <h2 class="text-2xl font-bold mt-8 mb-4">Купить металлические стеллажи в Минске</h2>

      <p>
        Мы изготавливаем металлические стеллажи для склада по индивидуальному заказу. Выгодные цены, гарантия. По всем
        вопросам заказа стеллажей обращайтесь к нашим менеджерам по телефонам, размещенным на сайте.
      </p>

      <OrderCTA />
    </div>
  </ProductLayout>
</Layout>
