---
import Breadcrumbs from '../../components/Breadcrumbs.astro';
import Layout from '../../layouts/MainLayout.astro';
import AboutCompanyLayout from '../../layouts/AboutCompanyLayout.astro';
import Link from '../../components/Link.astro';

const breadcrumbItems = [
  { title: 'Главная', href: '/' },
  { title: 'О компании', href: '/aboutcompany/' },
  { title: 'История' },
];
---

<Layout title="О компании ЗАО «КМ-Про» | Ваш надежный партнер в области складского оборудования!">
  <Breadcrumbs items={breadcrumbItems} />

  <AboutCompanyLayout>
    <h1 class="text-2xl font-bold mb-6">История компании Constructor</h1>

    <p>
      Constructor - это история стабильного роста, постоянного инновационного развития и качественного обслуживания
      клиентов на протяжении более 130 лет. За это время наше предприятие прошло путь от небольшой мастерской до одного
      из ведущих производителей
      <Link href="/products/">стеллажных систем</Link> в Европе.
    </p>

    <ul class="space-y-6 list-none pl-0 my-6">
      <li>
        <p class="mb-0">
          <strong class="font-bold">1886-1996 гг.</strong> - Период становления. В эти годы произошло формирование основных
          принципов работы, были заложены фундаментальные основы нашего бизнеса. За этот период мы преобразовались из небольшой
          мастерской в успешную компанию с узнаваемым именем.
        </p>
      </li>
      <li>
        <p class="mb-0">
          <strong class="font-bold">1996 г.</strong> - Важный этап в истории компании - слияние Kasten Hvik и Electrolux
          Constructor. Это дало нам возможность объединить усилия, опыт и знания, что позволило значительно расширить наше
          влияние на рынке и укрепить позиции.
        </p>
      </li>
      <li>
        <p class="mb-0">
          <strong class="font-bold">1996-2023 гг.</strong> - Период активного развития и роста. Благодаря стратегии слияний
          и инвестиций, мы смогли значительно увеличить производственные мощности и расширить географию присутствия. Сегодня
          Constructor занимает одну из лидирующих позиций на рынке стеллажных систем в Европе.
        </p>
      </li>
    </ul>

    <p class="mb-6">
      Наши бренды - Constructor, Constructor logistics, Bruynzeel, Kasten, Dexion и PSS, прочно вошли в жизнь многих
      компаний, помогая им создавать эффективные и безопасные условия для складирования товаров. Каждая из наших
      торговых марок отличается высоким качеством продукции, надежностью и долговечностью.
    </p>

    <p class="mb-12">
      Сегодня мы продолжаем развиваться, внедрять инновационные технологии и поддерживать высокий уровень обслуживания
      клиентов, чтобы каждый из вас мог найти идеальное решение для своего бизнеса в ассортименте продукции Constructor.
    </p>

    <div class="text-center space-y-2">
      <h2 class="text-lg font-normal">Оформить заказ можно по телефону:</h2>
      <p>
        <Link href="tel:+375291787018"> +375 (29) 178-70-18 </Link>
      </p>
    </div>
  </AboutCompanyLayout>
</Layout>
