---
import Layout from '../../layouts/MainLayout.astro';
import Breadcrumbs from '../../components/Breadcrumbs.astro';
import ProductCard from '../../components/ProductCard.astro';

const breadcrumbItems = [
  { title: 'Главная', href: '/' },
  { title: 'Продукция', href: '/products/' },
  { title: 'Специальные конструкции' },
];

const products = [
  {
    title: 'Стеллаж для шин и колес',
    href: '/products/special_nie_konstrukcii/stellazhi_dlja_hranenija_shin/',
    description:
      'Стеллажи для хранения шин Constructor состоят из рам фронтального паллетного стеллажа P90, специальных балок и кронштейнов.',
    image: '/images/stelazh7.webp',
  },
  {
    title: 'Стеллажи для магазинов',
    href: '/products/special_nie_konstrukcii/stellazhi_dlja_magazinov/',
    description:
      'Благодаря широкому ассортименту аксессуаров паллетный стеллаж P90 может использоваться для эффективного заполнения торговых залов.',
    image: '/images/stelazh8.webp',
  },
];
---

<Layout
  title="Специальные конструкции | КМ-про"
  description="Специальные конструкции купить в Минске с гарантией и доставкой оптом по выгодным ценам ⭐⭐⭐⭐⭐ Звоните 📞 +375 (29) 178-70-18"
  ogSiteName="Сайт компании ЗАО «КМ-про»"
  ogUrl="https://stellazhi.by/products/special_nie_konstrukcii/"
  ogTitle="Специальные конструкции | КМ-про"
  ogDescription="Специальные конструкции купить в Минске с гарантией и доставкой оптом по выгодным ценам ⭐⭐⭐⭐⭐ Звоните 📞 +375 (29) 178-70-18"
  ogImage="https://stellazhi.by/images/kasten_kuormalavahylly_laari_large1.webp"
  ogLocality="ru_BY"
  canonicalUrl="https://stellazhi.by/products/special_nie_konstrukcii/"
  customMetas={[
    {
      name: 'keywords',
      content: 'Специальные конструкции',
    },
  ]}
> 

  <div class="max-w-7xl mx-auto px-4">
    <Breadcrumbs items={breadcrumbItems} />

    <div class="bg-white rounded-lg shadow-md p-8 my-8">
      <h1 class="text-3xl font-bold mb-8">Специальные конструкции</h1>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        {products.map((product) => <ProductCard {...product} />)}
      </div>
    </div>
  </div>
</Layout>
