---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Analytics from '../components/Analytics.astro';
import '../styles/global.css';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ru" class="scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-transparent">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#ffffff" />
    <meta
      name="description"
      content="Купить складское оборудование в Минске с гарантией и доставкой оптом по выгодным ценам. ✓ Официальный дилер. ✓ Складское оборудование высокого качества."
    />

    <link rel="canonical" href="https://stellazhi.by/" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="shortcut icon" href="/favicon.ico" />

    <link rel="manifest" href="/site.webmanifest" />

    <Analytics />

    <title>{title}</title>
  </head>
  <body>
    <div class="mx-auto max-w-6xl">
      <Header />

      <main class="mt-4 mx-2">
        <slot />
      </main>
    </div>

    <Footer />
  </body>
</html>
